@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:blue; font-family:Cursive;" >Welcome To School Managment</h1>
    <p><img src="~/images/welcome2.jpg" style="height:500px; width:700px" />.</p>
</div>
